.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.logo h2 {
  margin: 0;
  color: #fff;
  font-size: 18px;
}

.header-content {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
